<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image1"></div>
    <mat-card-title>Amazon</mat-card-title>
    <mat-card-subtitle>Bellevue, Washington, Estados Unidos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/amazon2.jpg" alt="Photo of a Shiba Inu "  width="50%">
  <mat-card-content>
    <p>
      esta son los diferentes fotos del logo de amazon durante su etapa
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Amazon2</mat-card-title>
      <mat-card-subtitle>Bellevue, Washington, Estados Unidos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/amazon3.jpg" alt="Photo of a Shiba Inu" height="500" width="300">
    <mat-card-content>
      <p>
        esta son los diferentes fotos del logo de amazon durante su etapa
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Amazon 3</mat-card-title>
        <mat-card-subtitle>Bellevue, Washington, Estados Unidos</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/amazon1.jpg" alt="Photo of a Shiba Inu" height="500" width="300">
      <mat-card-content>
        <p>
          esta son los diferentes fotos del logo de amazon durante su etapa
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</mat-card>





