<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Primero"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>Amazon</mat-card-title>
      <mat-card-subtitle>@amazon.consultas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/botines1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Botines Predator ,De diferentes talles 34 Al 44
        <br>
        consultar en caja , los diferentes colores
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </mat-tab>
  <mat-tab label="Segundo"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Amazon</mat-card-title>
      <mat-card-subtitle>@amazon.consultas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/blancos.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Botines Predator Blanco, talle 33 al 44
        <br>
        consultar en caja , los diferentes colores
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </mat-tab>
  <mat-tab label="Tercero"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Amazon</mat-card-title>
      <mat-card-subtitle>@amazon.consultas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/rodado29.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Rodado 29 amazon, modelo 29 o 26
        <br>
        consultar en caja , los diferentes colores

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </mat-tab>
</mat-tab-group>
