<h2><p>hola somos Amazon, una empresa multinacional y mundialmente conocido por la excelente calidad
  de compra y ventas de todo tipo de productos.La compañía fue fundada en 1994
   impulsada por lo que el fundador de Amazon, Jeff Bezos3​ llamó su "marco de minimización de la lamentación",
   que describió sus esfuerzos para defenderse de su arrepentimiento por no participar anteriormente en el auge comercial de Internet durante ese tiempo.
    En abril de 1994, Bezos dejó su empleo como vicepresidente de D. E. Shaw & Co., una firma de Wall Street, y se trasladó a Seattle,
     donde comenzó a trabajar en un plan de negocios para lo que finalmente se convertiría en Amazon.com.
</p></h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img src="../../../assets/repartidor1.jpg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/repartidora2.jpg" alt=""width="100%"></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/repartidora3.jpg" alt="" ></mat-grid-tile>
  <mat-grid-tile><img src="../../../assets/repartidor4.jpg" alt="" width="100%"></mat-grid-tile>
</mat-grid-list>

